:root {
  font-family: 'inter', sans-serif;
  --main-white: #FEFCF3;
  --dark-white: #F5EBE0;
  --accent-light: #F0DBDB;
  --accent-dark: #DBA39A;

}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--main-white);
}

header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: 50px;
  padding: 5px 20px;
  background-color: var(--dark-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container {
  left: 0;
  top: 60px;
  width: 200px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-white);
  justify-content: start;
  align-items: center;

}

.filter-color {
  margin-top: 10px;
  background-color: white;
  width: 100%;
  border-radius: 15px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-color-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

.filter-color-list>li {
  text-align: center;
  font-family: 'inter', sans-serif;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  user-select: none;
  background-color: var(--accent-light);
  cursor: pointer;
}

.filter-color-list>li:hover {
  background-color: var(--accent-dark);
}

.filter-price {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px 0;
  border-radius: 15px;

}

.filter-price-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-price-form>input {
  text-align: center;
  font-family: 'inter', sans-serif;
  margin-bottom: 10px;
  height: 25px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid var(--dark-white);
  width: 95%;
}

.filter-price-form>button {
  width: 100%;
  height: 30px;
  font-family: 'inter', sans-serif;
  background-color: var(--accent-light);
  border: none;
  border-radius: 15px;
  font-size: 20px;
}

.filter-price-form>button:hover {
  background-color: var(--accent-dark);
}

.products-container {
  height: 2000px;
}